<extend name="Public/secBase"/>

<block name="main">
    <div class="web-search web-WidMar">
        <form action="" method="post">
            <input type="text" placeholder="热门搜索：学校环境、学费、王牌专业" name="web-searTxt" class=""/><input type="button" value="" name="searBtn"/>
        </form>
    </div>
    <hr class="seach-divide">
    <div class="MyPage-bodyTop web-WidMar clear" style="border:1px solid #e3e3e3;">
        <div class="breadCrumb" style="float: none;">您的位置 > <a href="../Index/hotSear.html">热搜区</a> ><a href="javascript:void(0)">全部</a></div>
        <!--<div class="sweet-tip">距离考试结束还有<span>3</span>天</div>-->
    </div>
    <div class="web-WidMar clear" style="border:1px solid #fff">
        <ul class="hotAll-sider">
            <li>(<php>echo count($University)</php>)搜索院校结果</li>
            <li>(<php>echo count($Major)</php>)搜索专业结果</li>
            <li>(<php>echo count($article)</php>)搜索文章结果</li>
        </ul>
        <ul class="hotAll-tab" style="margin-left:10px;">
            <li style="display: block;">
                <volist name="University" id="uo">
                    <a href="<{:U('Home/Cn/univerDesc',array('uniID'=>$uo['id']))}>"><{$uo.name}></a>
                </volist>
            </li>
            <li>
                <volist name="Major" id="mo">
                    <a href="<{:U('Home/Cn/majorDesc')}>"><{$mo.name}></a>
                </volist>
            </li>
            <li>
                <volist name="article" id="ao">
                    <a href="<{:U('Home/Cn/experCOnt',array('experId'=>$ao['id']))}>"><{$ao.title}></a>
                </volist>
            </li>
        </ul>
    </div>
    <script>
        (function(){
            var oBtn=document.querySelectorAll(".hotAll-sider li");
            var oLi=document.querySelectorAll(".hotAll-tab li");
            var searResTab=new TabSwitch({aInput:oBtn,aDiv:oLi,flag:0});
        })();
    </script>
</block>

