<extend name="Public/secBase"/>
<block name="link">
    <style>
        .wrap{width: 760px;border-top: 1px #CCC solid;border-bottom: 1px #CCC solid;padding:8px;margin: 0 auto;font-size:11pt;line-height:1.8;font-family:"宋体"}
        .box p {padding-bottom:0.5em; color:#333;}
        .box_b{display:block; background:#F9F9F9; border:3px solid #fff; border-width:0 3px; margin:1em;}
        .btn:hover{ color:#5682e5; background-color:#ededed;}
        .btn{  width:200px; height:40px; background-color:#5682e5; color: #FFF; border:1px solid #5682e5; line-height:40px; font-family:Verdana, Geneva, sans-serif; font-size:14px;}
        .bottom{ height:100px; background-color:#4c4e5b; margin:6px 0;}
    </style>
</block>
<block name="main">
    <div class="wrap">
        <h2 align="center">我的性格测试结果</h2>
        <div class="box_b">
            <p style="text-indent:0;"><b>1,艺术型</b>：有艺术、直觉、创造的能力，喜欢运用想象力和创造力，在自由的环境中工作。这种人想象力丰富，有理想，易冲动，好独创。他们喜欢从事非系统的、自由的、要求有一定艺术修养的职业。<br/>
                　　可参考填报：教育学：学前教育、艺术教育、装潢设计与工艺教育文学汉语言文学、汉语言、对外汉语、中国少数民族语言、外国语言文学、新闻传播学类所有专业、艺术学类所有专业;历史学：民族学、文物保护技术;管理学：旅游管理;理学：地理科学类所有专业;工学：广播电视工程、土建类所有专业、测绘类所有专业、轻工纺织食品类所有专业、航空航天类所有专业、宝石及材料工艺学;农学：园艺、园林;医学： 医学影像学。</p>
            <p style="text-indent:0;"><b>2,传统型</b>：喜欢从事资料工作，有写作或数理分析的能力，能够听从指示，完成琐细的工作。这种人易顺从，能自我抑制，想象力较差，喜欢既定、有秩序的环境。在职业选择上，他们愿意从事那些需要按照既定要求工作的、比较简单而又比较刻板的职业。<br/>
                　　可参考填报：哲学：逻辑学;经济学：经济学类所有专业;法学： 法学类所有专业、政治学与行政学、国际政治;教育学：人文教育、特殊教育;文学：中国语言文学类所有专业;历史学：历史学类所有专业;管理学：会计学、财务管理、电子商务、物流管理、劳动与保障、土地资源管理、农林经济管理、农村区域发展、图书馆学、档案学;理学：理学类所有专业;工学：仪器仪表类、能源动力类、电气信息类、水利类、测绘类、化学与制药类、交通运输类、海洋工程类、航空航天类、武器类、工程力学类、生物工程类、农业工程类、森林工程类、公安技术类所有专业;农学：农学类所有专业;医学：医学类所有专业。</p>
            <p style="text-indent:0;"><b>3,管理型</b>：喜欢和人群互动，自信、有说服力、领导力，追求政治和经济上的成就。这种人喜欢支配别人，有冒险精神，自信而精力旺盛，好发表自己的见解。他们愿意从事那些为直接获得经济效益而活动的职业。<br>
                　　可参考填报：哲学：哲学、宗教学;经济学：经济学、国际经济与贸易、保险;法学：社会学、社会工作、外交学、思想政治教育、公安学类所有专业;教育学：特殊教育、旅游管理与服务教育、市场营销教育;文学：新闻学、广播电视新闻学、广告学、导演、播音与主持艺术、广播电视编导;管理学：管理科学与工程类所有专业、工商管理类所有专业、公共管理类所有专业、农林经济管理类所有专业;理学：天文学类、地质学类、地理科学类、地球物理学类、大气科学类、海洋科学类、环境科学类、心理学类、统计学类所有专业;工学：航空航天类、武器类、公安技术类所有专业;农学：植物生产类、草业科学类、森林资源类、环境生态类、动物生产类、水产类所有专业;医学：法医学。</p>
            <p style="text-indent:0;"><b>4, 研究型</b>：喜欢观察、学习、研究、分析、评估和解决问题。这种人有强烈的好奇心，重分析，好内省。比较慎重。他们喜欢从事有观察、有科学分析的创造性活动和需要钻研精神的职业。<br/>
                　　可参考填报：哲学：哲学类所有专业;经济学：保险、金融工程、税务、网络经济学;法学：马克思主义理论类所有专业、社会学类所有专业、公安学类所有专业;教育学：教育学、学前教育、教育技术学、小学教育、艺术教育、人文教育、社会体育;文学汉语言文学、古典文献、外国语言文学类;历史学：历史学、世界历史、考古学、博物馆学、文物保护技术;管理学：管理科学、信息管理与信息系统、工商管理、市场营销、会计学、财务管理、人力资源管理、物流管理、行政管理、劳动与社会保障、农林经济管理、农村区域发展、档案学;理学：理学类所有专业;工学：工学类所有专业;农学：农学类所有专业;医学：基础医学、临床医学、眼视光学、康复医学、精神医学、中医学类所有专业、药学类所有专业。</p>
            <p style="text-indent:0;"><b>5,现实型</b>：有运动机械操作的能力，喜欢机械、工具、植物或动物，偏好户外活动。这种人不重视社交，而重视物质的、实际的利益。他们遵守规则，喜欢安定，感情不丰富，缺乏洞察力。在职业选择上，他们希望从事有明确要求的、需要一定的技能技巧、能按一定程序进行操作的工作。<br/>
                　　可参考填报：哲学：逻辑学;教育学：教育技术学、体育教育、运动训练、社会体育、运动人体科学、民族传统体育、汽车维修工程教育、应用电子技术教育、装潢设计与工艺教育;文学：传播学;管理学信息管理与信息系统、电子商务;理学：理学类所有专业;工学：工学类所有专业;农学：农学类所有专业;医学：医学影像学、医学检验、眼视光学、康复医学、口腔医学、针灸推拿学、法医学、护理学、药学类所有专业。</p>
            <p style="text-indent:0;"><b>6,社会型</b>：擅长和人相处，喜欢教导、帮助、启发或训练别人。这种人乐于助人，善社交，易合作，重视友谊，责任感强等。他们希望从事那些直接为他人服务为他人谋福利或与他人建立和发展各种关系的职业。<br/>
                　　可参考填报：哲学：宗教学;经济学：国际经济与贸易;法学：社会学、社会工作、政治学类所有专业、治安学;教育学：教育学类所有专业、体育学类所有专业、其他教育学类新兴专业;文学：新闻学、广播电视新闻学、播音与主持艺术、广播电视编导;管理学：人力资源管理、旅游管理、公共事业管理、劳动与社会保障、公共关系学、农林经济管理类所有专业;理学：资源环境与城乡规划管理、心理学、应用心理学;工学电气信息类、环境与安全类、公安技术类所有专业;农学：植物生产类、森林资源类、动物生产类、水产类所有专业;医学：预防医学、临床医学、康复医学、精神医学、口腔医学、中西医临床医学、护理学、中药资源与开发。</p>
            <br>
            <p style="color:#00F; font-size:14px;">&nbsp;&nbsp;&nbsp;&nbsp;好了，测试做完了，同学们对今后的填报志愿大致有个底了吗?衷心祝愿2018年的高考生都能美梦成真!成就人生!</p><br>
        </div>
    </div>
</block>